<header>
		<a href="{{site.baseurl}}index.html" class=link__bolder>
        RV & Jogos | Insper
    </a>
	<a href="{{site.baseurl}}sobre.html">
        Sobre
    </a>
	<a href="{{site.baseurl}}arquivo.html">
        Arquivo
    </a>
	<a href="{{site.baseurl}}jogos_digitais.html">
        Jogos Digitais
    </a>
    <!--<a>
        Projetos
    </a>
    <a>
        Categorias
		</a>-->
    <a class="pull-right" href="#" id="searchButton">
        <i class="fa fa-search" aria-hidden="true"></i>
    </a>
</header>
