// Cores
$preto:     #000000;
$branco:    #ffffff;
$vermelho:  #c00026;
$azul:      #0000ff;
$verde:     #00ff00;
$ciano:     #00ffff;

//Cores Secundárias
$vinho:     #a62b4d;
$aqua:      #282828;
$cinza:		#414042;
$amarelo:   #A69542;

//New Colors

$cinza41:   #686868;
$cinza50:   #808080;
