---
layout: default
---
<article>
<div class="post_header">
		<div class="post_header--content">
		<h2>{{ page.date | date_to_string}} : {{ page.tags | join: " / " }}</h2>
		<h1>{{ page.title }}</h1>
		</div>
</div>
<div class="mainWrapper" style="margin-top:0">
<div class="post_content">
		{{ content }}
</div>
</div>
</article>


<div id="relatedPosts">
	<h1>Outros Posts</h1>
	
	<div class="mainWrapper">
		<div class="row first-row">
			{% if page.next %}
			<a href="{{ page.next.url }}" class="article-card col-4">
				<div class="article-card__title">
					<div class="title--text">
						<p class="article-title">
							{{ page.next.title }}
						</p>
						<p class="article-info">
							{{ page.next.date |
							date_to_string }}
						</p>
					</div>
				</div>
				<div class="article-card__text">
					<p>
						{{ page.next.excerpt | truncate: 80}}
					</p>
				</div>
			</a>
			{% endif %}
			{% if page.previous %}
			<a href="{{ page.previous.url }}" class="article-card col-4">
				<div class="article-card__title">
					<div class="title--text">
						<p class="article-title">
							{{ page.previous.title }}
						</p>
						<p class="article-info">
							{{ page.next.date |
							date_to_string }}
						</p>
					</div>
				</div>
				<div class="article-card__text">
					<p>
						{{ page.previous.excerpt | truncate: 80}}
					</p>
				</div>
			</a>
			{% endif %}
		</div>
	</div>
</div>
<script type="text/javascript" src="/js/centerImage.js"></script>
